<!DOCTYPE html>
<html>
    <head>
        <title>Blog TDAH Descomplicado</title>
        <meta charset="utf-8" />
        <link rel="stylesheet"  href="css/estilo.css" />

        
      
    </head>
    <body>
        <div id="area-cabecalho">
            <div id="png">
                <img width="120px" src="images\favicon.webp">
            </div>
            <div id="area-logo">
                <h1>TDAH<span class="branco">Descomplicado</span></h1>
                <div id="area-menu">
                    <strong>
                     <a href="/">Pagina Inicial</a>
                     <a href="/sobre">Mais sobre o TDAH</a>
                    
                     <a href="/quemsomos">Quem Somos</a>
                     <a href="/contato">Fale Conosco </a>
                    </strong>
                 </div>
        </div> <br> 

    </div>

    <div id="area-principal"> 

        <div id="textocontato"> <strong>ATENÇÃO:</strong> Existem restrições severas quanto a consultas médicas ou psicológicas ou mesmo consultorias via Internet, de acordo com o Conselho Federal de Medicina e o Conselho Federal de Psicologia.
            Não podemos fornecer informações sobre medicamentos, seu uso e contra-indicações. Informações sobre sintomas de TDAH e outros problemas associados podem ser encontrados no conteúdo deste site. 
            infelizmente só temos como oferecer informações mais específicas,breves. Opiniões sobre casos complexos, detalhados, só podem ser avaliados por um especialista.</div>

        <form action="/formulario-contato" method="post">
           
            <div>
                
                <label for="nome">Nome:</label>
                <input class="input" type="texto" id="nome" name="nome_usuario" />
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input class="input" type="email" id="email" name="email_usuario" />
            </div>
            <div>
                <label for="texto">Texto:</label>
                <textarea id="texto" name="texto_usuario"></textarea>
                <br><br>
                <div class="button">
                    <button class="btn-submit" type="submit">Enviar</button>
                    </div>
                  </div>
                
            </div>
        </form>
        
    </body>
     <div id="rodape">
            Todos os direitos reservados Rafael Santos
        </div>
     </html>
