<!DOCTYPE html>
<html>
<head>
	<title>Blog TDAH Descomplicado</title>
	<meta charset="utf-8">
	<link rel="stylesheet"  href="css/estilo.css">
</head>
<body>

	<div id="area-cabecalho">
    <div id="png">
      <img width="120px" src="images\favicon.webp">
  </div>
		
		<div id="area-logo">
			<h1>TDAH<span class="branco">Descomplicado</span></h1>
		</div>
    <div id="area-menu">
      <strong>
       <a href="/">Pagina Inicial</a>
       <a href="/sobre">Mais sobre o TDAH</a>
      
       <a href="/quemsomos">Quem Somos</a>
       <a href="/contato">Fale Conosco </a>
      </strong>
   </div>
	</div>

	<div id="area-principal">

			
			<!-- abertura postagem -->
			<div class="postagem2">
				<h1 class="noticia_titulo"><%= noticia[0].titulo%></h1>
				<span class="data-postagem"><%= noticia[0].data_noticia%>></span>
        <span><%= noticia[0].noticia%></span>
			</div>
            
           </div>

	
                            
                      
                            
                      
                      
                        
                          

   
  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/script.js"></script>                      
</body>
</html>