<!DOCTYPE html>
<html>
	
<head>
	<title>Blog TDAH Descomplicado</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/estilo.css">

</head>
<body>

	<div id="area-cabecalho">
    <div id="png">
      <img width="120px" src="images\favicon.webp">
  </div>
		
		<div id="area-logo">
			<h1>TDAH<span class="branco">Descomplicado</span></h1>
		</div>
    <div id="area-menu">
      <strong>
       <a href="/">Pagina Inicial</a>
       <a href="/sobre">Mais sobre o TDAH</a>
     
       <a href="/quemsomos">Quem Somos</a>
       <a href="/contato">Fale Conosco </a>
      </strong>
   </div>
		
		</div>

	  </div>

	 <div id="area-principal">

		<div id="area-postagens">
			
			
			<div class="postagem">
				<h2>QUEM SOMOS</h2>
				<span class="data-postagem">postado 20 fevereiro 2022</span>
				
				<p> 
                    <strong>Quem somos?</strong><br><br>

                    <p> O Site TDAH Descomplicado é um blog destinado pessoas com TDAH, sem fins lucrativos, com o objetivo de disseminar informações científicas
                         sobre o Transtorno do Déficit de Atenção e Hiperatividade (TDAH); além de, capacitar profissionais de saúde e educação, 
                        e oferecer suporte a pessoas com esse Transtorno e a seus familiares em todo o Brasil.<br><br>
                        Através de seu site, divulgamos informações científicas, 
                        matérias e conteúdos atualizados sobre TDAH.<br><br>
                        No esforço de lutar para garantir a inclusão, a cidadania plena de todas as pessoas com TDAH no Brasil, 
                        ampliando a educação e o conhecimento da população sobre o assunto, realizam-se eventos para profissionais de diferentes áreas.<br><br>
                         Tanto para os profissionais de saúde ou de educação, a meta é sempre a mesma: oferecer capacitação para que cada vez mais o transtorno possa ser identificado, 
                         diagnosticado e tratado corretamente.<br><br>
                       </p><br><br><br>

                       <p><strong>Vale lembrar que</strong></p><br><br>

                       <p>1 - Nós não oferecemos atendimentos clínicos, diagnósticos e nenhum outro tipo de tratamento</p><br>
                       <p>2 – O <strong>blog TDAH Descomplicado</strong> também não desenvolve pesquisas e não produz conhecimento acerca do TDAH, 
                        porque entende que esta tarefa é atribuição exclusiva da comunidade científica.</p><br>
                        <p>3 – Não é finalidade do <strong>blog TDAH Descomplicado</strong> e não está no escopo da sua missão, 
                            ajuizar quaisquer ações jurídicas em relação a outras instituições. 
                            Por outro lado, informamos que temos a finalidade de orientar as pessoas com <strong>TDAH e seus familiares</strong> 
                            e não o de servir de mecanismo para denúncias.</p><br>
                            <p>4 – Não é finalidade deste site a análise, comentário ou emissão de qualquer tipo de parecer e/ou diagnóstico aos visitantes, 
                                tarefa esta que é reservada exclusivamente a profissionais de saúde especializados.</p><br>
                                <p>5 – Os conteúdos descritos no site possuem <strong>caráter meramente informativo e não substituem a consulta ao seu médico de confiança</strong>.</p>
                    
                    
                              </div>

	
                            </div>
                      
                           
                      
                          </div>
                      
                          <div id="rodape">
                            Todos os direitos reservados Rafael Santos
                          </div>
                      
                        </div>


</body>
</html>