<!DOCTYPE html>
<html>
  <head>
    <title>Blog TDAH Descomplicado</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/estilo.css">
  </head>
  <body>
    <div id="area-cabecalho">
      <div id="png">
        <img width="120px" src="images\favicon.webp">
    </div>
      <div id="area-logo">
        <h1>TDAH<span class="branco">Descomplicado</span>
        </h1>
      </div>
      <div id="area-menu">
        <strong>
         <a href="/">Pagina Inicial</a>
         <a href="#">Mais sobre o TDAH</a>
      
         <a href="/quemsomos">Quem Somos</a>
         <a href="/contato">Fale Conosco </a>
        </strong>
     </div>
    </div>
    </div>
    <div id="area-principal">
      <div id="area-postagens">
        <div class="postagem">
          <h2>DICAS IMPORTANTES</h2>
          
          <p dir="ltr">
            <strong>
              <span style="color: #000000;">Saber lidar com o TDAH já é o início do tratamento</span>
            </strong>
          </p>
          <br>
          <p dir="ltr">Você possivelmente vai ficar entusiasmado com a possibilidade de ver seus sintomas diminuindo. Mas você, estando motivado, pode querer desfrutar de todas as melhoras de uma só vez. VÁ COM CALMA! Já ouviu aquele ditado que diz que o apressado come cru e que o devagar também é pressa?</p>
          <p>Na busca pela conquista de metas é fundamental que você tenha muita calma, para investir a sua energia em definir o seu projeto de vida.</p>
          <p>No tocante a metas, é importante que você atinja uma meta por vez. É essencial que você a conquiste, curta a sua vitória por tê-la concluído e então, e só depois, é que você deverá passar à próxima meta.</p>
          <p>E assim por diante. Respeite o seu tempo. Você terá a satisfação de ver a melhora do seu desempenho laborativo, na vida social e afetiva. Consequentemente, você sentirá a melhora do autocontrole, além de um reforço sobre a sua vontade e determinação. É irreal ter expectativas de conseguir tudo de uma vez só.</p>
          <br>
          <p>
            <strong>
              <span style="color: #01070a;">Como conseguir?</span>
            </strong>
          </p>
          <br>
          <p>Siga as instruções abaixo: A experiência mostra que devemos nomear as metas, dando a cada uma delas uma nota, de zero (muito fácil de ser alcançada) até 10 (muito difícil de ser alcançada).</p>
          <p>Comece com uma  escolha, uma meta que você sinta ser fácil de ser concluída.</p>
          <br>
          <p>Nunca tente uma meta difícil de ser concluída. Ao contrário, pratique bem nas metas mais fáceis de serem atingidas pois isso aumentará e muito, a sua autoestima e autoconfiança.</p>
          <br>
          <p>
            <strong>
              <span style="color: #0b0c0c;">
        
              </span>
            </strong>
          </p>
          <br>
          <strong>O que realmente você gosta de fazer? </p>
          </strong>
          <br>
          <p>O que realmente faz voce se motivar? É difícil perseguir objetivos que não sejam motivadores para você. Portanto, pelo menos inicialmente, escolha metas que você que você sinta que irá conseguir com facilidade.</p>
          <p>Saiba priorizar suas metas. É imprescindível que você sinta-se entusiasmado e satisfeito com as metas que você delineou. Ponha sempre as suas metas em um papel.</p>
          <br>
          <p>Certifique-se de ter usado o critério das prioridades, escolhendo as metas mais importantes e que fazem mais sentido pra você, mantendo sempre a motivação na mente.</p>
          <br>
          <p>Reduza as expectativas Não tenha altas expectativas. Tenha boas perspectivas. Visão de futuro sempre alinhadas com as expectativas e a realidade.</p>
          <br>
          <p>Determinação e persistência são prioridades.</p>
          <br>
          <p>Quando você alcança e conclui tudo muito rapidamente, pode haver algum sentimento de desapontamento. Se você conseguir manter as suas expectativas mais realistas , o sentimento de vitória e sucesso costumam ser maiores e muito gratificantes.</p>
          <br>
          <p>
            <span style="color: #070707;">
              <strong>Siga o passo-a-passo.</strong>
            </span>
          </p>
          <br>
          <p>
            <li>Pequenos passos de cada vez fracione as suas metas grandes em metas menores, que normalmente são melhor e mais facilmente administráveis.</li>
          </p>
          <p>
            <li>Lembre-se de que mesmo as metas mais gigantescas e quase impossíveis de serem alcançadas , são conseguidas sim, sempre gota a gota , passo-a-passo.</li>
          </p>
          <p>
            <li>Desenvolva um plano de ação, um diário de estratégias .</li>
          </p>
          <p>
            <li>liste os passos necessários para que cada meta seja concluída.</li>
          </p>
          <p>
            <li>Use o formato de tabela associando o seu cronograma.</li>
          </p>
          <p>
            <li>Certifique-se de deixar espaços (horários) em branco no seu plano de ação.</li>
          </p>
          <p>
            <li>Seja flexível.</li>
          </p>
          <p>
            <li>Caso você não consiga cumprir o seu plano de ação num dia em particular, não se desespere.</li>
          </p>
          <p>
            <li>Não permita que todo o plano fracasse por causa de um tropeço.</li>
          </p>
          <p>
            <li>No espaço deixado para esses imprevistos, você poderá refazer a sua meta novamente.</li>
          </p>
          <p>
            <li>Tente até conseguir.</li>
          </p>
          <p>
            <li>Caso não consiga, repense sua programação.</li>
          </p>
          <p>
            <li>Pode ser que ela ela esteja acima de suas possibilidades para o momento em questão.</li>
          </p>
          <p>
            <li>Reveja suas expectativas.</li>
          </p>
          <p>
            <li>De qualquer modo, em última instância, refaça seu plano a partir do ponto não atingido, seguindo-se dali pra frente, com metas mais fracionadas.</li>
          </p>
          <p>
            <li>É como desenvolver táticas, ou seja, um plano B e um plano C, se necessário. Esse é o caminho do sucesso.</li>
          </p>
          <p>
            <li>Reavalie o seu progresso regularmente.</li>
          </p>
          <p>
            <li>Reconheça cada progresso feito.</li>
          </p>
          <p>
            <li>Não economize premiações deixando para usá-las somente quando todo o projeto for alcançado.</li>
          </p>
          <p>
            <li>Comemore cada etapa!</li>
          </p>
          <p>
            <li>Curta sozinho, com parentes ou amigos, tire fotos, faça registros sobre o seu momento de sucesso e sinta-se vitorioso por cada etapa concluída!</li>
          </p>
          <p>
          </p>
          <p>
            <span style="color: #030303;">
              <strong>Estabeleça metas inteligentes</strong>
            </span>
          </p>
          <br>
          <p>
            <strong></strong>Quando estabelecer metas, escolha METAS INTELIGENTES, ou seja, metas que sejam específicas, mensuráveis, assumidas, realísticas e com tempo definido.
          </p>
          <p>Metas Específicas &#8211; exclusivas para o propósito a ser atingido</p>
          <br>
          <p>Mensuráveis &#8211; uma meta é mensurável quando podemos determinar claramente se o progresso está sendo feito em sua direção</p>
          <br>
          <p>Assumidas &#8211; quando você conversa com você mesmo ou com um amigo e concorda com a meta e se compromete a executá-la</p>
          <br>
          <p>Realísticas &#8211; metas que podem ser alcançadas, alcançáveis</p>
          <br>
          <p>Com tempo definido &#8211; meta que pode ser concluída dentro de um tempo razoável, a médio prazo.</p>
          <br>
          <span class="et_social_bottom_trigger"></span>
        </div>
      </div>
   
    </div>
    <div id="rodape"> Todos os direitos reservados Rafael Santos </div>
    </div>
  </body>
</html>